@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


/* Общие */
/* доделать переменные цветов и поменять в коде названия цветов */
:root {
	--color-white: #fff;
	--color-orange: #FF9900;
	--color-lightOrang: #FFB84D;
	--color-darkOrange: #E1670E;
	--color-Black: #000;
	--color-lightLightGrey: #CACACA;
	--color-opacityGrey: rgba(0, 0, 0, 0.5);
	--color-Grey: #666666;
	--color-dark-Grey: #414141;
	--borderRad32: 32px;
	--borderRad24: 24px;
	--borderRad16: 16px;
}

body {
	max-width: 1920px;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	color: inherit;
}

.btn {
	display: inline-block;
	text-align: center;
	padding: 20px 38px;
	border-radius: var(--borderRad16);
	font-size: 16px;
	font-weight: 700;
	background-color: var(--color-orange);
	transition: background-color .3s ease;
}

.btn:hover {
	background-color: var(--color-lightOrang);
	border-color: var(--color-lightOrang);
}

.btn:focus {
	background-color: var(--color-lightOrang);
	border-color: var(--color-lightOrang);
}

.btn:active {
	background-color: var(--color-darkOrange);
	border-color: var(--color-darkOrange);
}


.section-heading {
	font-size: 48px;
	line-height: 59px;
}

.section {
	margin-bottom: 100px;
}

.item-heading {
	font-weight: 700;
	font-size: 24px;
}

.nav-link {
	transition: color .3s ease, outline-color .3s ease, outline-offset .5s ease;
}

.nav-link:hover {
	color: var(--color-orange);
}

.nav-link:focus {
	outline: 2px solid var(--color-orange);
	outline-offset: 3px;
}

.nav-link:active {
	outline: none;
	color: var(--color-darkOrange);
}

/* header */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	padding: 14px 4% 14px 3.8%;
	border-radius: 0 0 var(--borderRad32) var(--borderRad32);
	background: var(--color-white);
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__burger {
	display: none;
}

.header__logo-link {
	flex-shrink: 0;
}

.header__nav {
	flex: 0 0 706px;
	margin-left: auto;
	margin-right: 260px;
}

.header__nav-list {
	display: flex;

}

.header__nav-item {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.header__nav-item:not(:last-of-type) {
	margin-right: 85px;
}


.header__nav-link {
	transition: color 0.3s ease, padding .5s ease, border-color .1s ease, outline-color .1s ease, outline-offset .5s ease;
}

.header__nav-link:hover {
	padding-bottom: 7px;
	border-bottom: 2px solid var(--color-orange);
}

.header__nav-link:focus {
	outline: 2px solid var(--color-orange);
	outline-offset: 3px;
}

.header__nav-link:active {
	padding-bottom: 7px;
	outline: none;
	color: var(--color-darkOrange);
}

.header__search-icon rect {
	transition: fill .3s ease;
}

.header__search-icon path {
	transition: stroke .3s ease;
}

.header__search {
	transition: outline-color .5s ease, outline-offset .5s ease;
}

.header__search:hover .header__search-icon rect {
	fill: var(--color-orange);
}

.header__search:hover .header__search-icon path {
	stroke: var(--color-orange);
}

.header__search:focus {
	outline: 2px solid var(--color-orange);
	outline-offset: 2px;
}

.header__search:active .header__search-icon rect {
	fill: var(--color-orange);
}

.header__search:active .header__search-icon path {
	stroke: var(--color-orange);
}

.header__search:focus {
	outline: none;
}

/* Main */

.main {
	max-width: 1770px;
	margin: 0 auto;
}

/* Hero */

.hero {
	margin-bottom: 50px;
	padding: 100px 0 100px 80px;
	border-radius: var(--borderRad32);
	color: var(--color-white);
	background-image: url('../img/balconies-compres-2k-3k.jpg');
	background-size: cover;
	background-position: center center;
}

.hero-heading {
	width: 49.52%;
	margin-bottom: 24px;
	font-weight: 800;
	font-size: 70px;
	line-height: 85px;
}

.hero-description {
	width: 46.75%;
	margin-bottom: 90px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.hero-btn {
	padding: 25px 39px;
	font-size: 23px;
	line-height: 28px;
}

/* About */

.about-heading {
	margin-bottom: 20px;
}

.about-text {
	width: 69.77%;
	margin-bottom: 50px;
	font-size: 16px;
	line-height: 32px;
}

.about-description {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	column-gap: 1.6%;
}

.about-banner, .about-description-rigth {
	flex: 0 0 49.15%;
	min-height: 622px;
}

/* Banner */

.about-banner {
	position: relative;
	border-radius: var(--borderRad32);
	background-image: url('../img/about-compres1200-800.jpg');
	background-size: cover;
	background-position: center center;
}

.about-banner-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 50px 6% 50px 5.46%;
	border-radius: var(--borderRad32);
	color: var(--color-white);
	background: rgba(0, 0, 0, 0.5);
}

.about-banner-text {
	flex: 0 0 58.70%;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
}

.about-banner-btn {
	padding: 17px 36px;
	border: 3px solid var(--color-orange);
	background-color: transparent;
}

/* About right */

.about-item {
	display: flex;
	column-gap: 6%;
	align-items: center;
	padding: 65px 0 65px 6.9%;
	border: 1px solid var(--color-lightLightGrey);
	border-radius: var(--borderRad32);
}

.about-item:not(:last-child) {
	margin-bottom: 30px;
}

.about-item-description {
	flex-basis: 452px;
}

.about-item-description-heading {
	margin-bottom: 8px;
	line-height: 29px;
}

.about-item-description-text {
	font-size: 16px;
	line-height: 32px;
}

/* How-work */

.how-work {
	margin-bottom: 110px;
}

.how-work__heading {
	margin-bottom: 50px;
}

.how-work__nav-list {
	display: flex;
	column-gap: 85px;
	margin-bottom: 45px;
	font-size: 18px;
	line-height: 22px;
}

.how-work__article {
	display: flex;
	align-items: flex-end;
	column-gap: 142px;
}

.how-work__article-description-heading {
	margin-bottom: 7px;
	line-height: 32px;
}

.how-work__article-description-text {
	font-size: 16px;
	line-height: 32px;
}

.how-work__article-description-text:last-of-type {
	margin-bottom: 17px;
}


.how-work__article-banner {
	flex: 0 0 49.15%;
	height: 460px;
	border-radius: var(--borderRad32);
	background-image: url('../img/how-work-origin1-compres1920.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.how-work__article-btn-more {
	margin-right: 27px;
	color: var(--color-white);
}

.how-work__article-btn-contract {
	padding: 20px 36px;
	border: 1px solid currentColor;
	background-color: transparent;
	transition: background-color .3s ease, color .3s ease;
}

.how-work__article-btn-contract:hover {
	color: var(--color-white);
	background-color: var(--color-Grey);
	border-color: var(--color-Grey);
}

.how-work__article-btn-contract:focus {
	color: var(--color-white);
	background-color: var(--color-Grey);
	border-color: var(--color-Grey);
}

.how-work__article-btn-contract:active {
	color: var(--color-white);
	background-color: var(--color-Black);
	border-color: var(--color-Black);
}

/* FAQ */

.faq__heading {
	margin-bottom: 32px;
}

.faq__list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: -1px;
	padding: 30px 2px 30px 0;
	border-bottom: 1px solid var(--color-lightLightGrey);
	border-top: 1px solid var(--color-lightLightGrey);
	transition: border-color .3s ease, color .3s ease;
}

.faq___list-item-icon {
	flex-shrink: 0;
}

.faq___list-item-icon path {
	transform-origin: 50%;
}


.faq__list-item:hover {
	position: relative;
	z-index: 1;
	border-top-color: var(--color-orange);
	border-bottom-color: var(--color-orange);
	color: var(--color-orange);
}


.faq___list-item-icon path, .faq___list-item-icon ellipse {
	transition: fill .5s ease, transform .5s ease;
}

.faq__list-item:hover .faq___list-item-icon ellipse {
	fill: var(--color-orange);
}

.faq__list-item:hover .faq___list-item-icon path {
	fill: var(--color-white);
}

.faq__list-item:focus {
	position: relative;
	z-index: 1;
	border-color: var(--color-orange);
	color: var(--color-orange);
}

.faq__list-item:focus .faq___list-item-icon ellipse {
	fill: var(--color-orange);
}

.faq__list-item:focus .faq___list-item-icon path {
	fill: var(--color-white);
}

.faq__list-item:active {
	color: var(--color-Black);
	border-color: var(--color-lightLightGrey);
}

.faq__list-item:active .faq___list-item-icon path {
	transform: rotate(45deg);
}

.faq__list-item:active .faq___list-item-icon ellipse {
	fill: var(--color-lightLightGrey);
}

/* Footer */

.footer {
	display: flex;
	column-gap: 13.38%;
	padding: 50px 75px;
	color: var(--color-lightLightGrey);
	background-color: var(--color-Black);
}

/* left */

.footer__left {
	flex: 0 0 252px;
	margin-right: auto;
}

.footer__left-logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer__nav {
	margin-bottom: 90px;
}

.footer__nav-list-item {
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
}

/* Socials */

.footer__socials-odnoklass-link {
	margin-right: 20px;
}

.footer__socials-odnoklass-logo, .footer__socials-vkontakte-logo {
	transition: outline-color .3s ease, outline-offset .5s ease;
}

.footer__socials-odnoklass-logo path, .footer__socials-vkontakte-logo path {
	transition: fill .3s ease;
}

.footer__socials-odnoklass-link:hover path, .footer__socials-vkontakte-link:hover path {
	fill: var(--color-orange);
}

.footer__socials-odnoklass-link:focus .footer__socials-odnoklass-logo, .footer__socials-vkontakte-link:focus .footer__socials-vkontakte-logo {
	outline: 2px solid var(--color-orange);
	outline-offset: 3px;
}

.footer__socials-odnoklass-link:active path, .footer__socials-vkontakte-link:active path {
	fill: var(--color-darkOrange);
}

.footer__socials-odnoklass-link:active .footer__socials-odnoklass-logo, .footer__socials-vkontakte-link:active .footer__socials-vkontakte-logo {
	outline: none;
}



/* Form */

.form {
	flex: 0 0 570px;
}

.form__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.form__input-name, .form__input-email, .form__textarea {
	padding: 14px 24px;
	border-radius: var(--borderRad16);
	font-size: 16px;
	line-height: 32px;
	color: var(--color-white);
	background-color: var(--color-dark-Grey);
	transition: background-color .5s ease;
}

.form__input-name::placeholder, .form__input-email::placeholder, .form__textarea::placeholder {
	font-size: 16px;
	line-height: 32px;
	color: var(--color-lightLightGrey);
}

.form__textarea {
	height: 150px;
	resize: none;
}

.form__input-name:hover, .form__input-email:hover, .form__textarea:hover {
	background-color: #414141;
}

.form__input-name:focus, .form__input-email:focus, .form__textarea:focus {
	background-color: var(--color-Grey);
}

.form__input-name:active, .form__input-email:active, .form__textarea:active {
	background-color: var(--color-Grey);
}

/* Buttons */

.form__wrapper-btn {
	margin-top: 8px;
}

.form__btn {
	padding: 19px 52px;
	color: var(--color-white);
}

.form__text {
	flex: 0 0 363px;
	padding-top: 87px;
	font-size: 16px;
	line-height: 32px;
}

/*Свой чекбокс  */

.form__checkbox-wrap {
	display: inline-block;
}

/* скрываем стандартный */
.form__check {
	appearance: none;
}

/* стилизация лейбла + паддинг слева для кастомного */
.form__check-descr {
	position: relative;
	padding-left: 33px;
	font-size: 16px;
	transition: color .3s linear;
}

/* создание квадратика + его позиционирование*/
.form__check-descr::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 3px;
	left: 16px;
	width: 14px;
	height: 14px;
	border: 1px solid var(--color-lightLightGrey);
	border-radius: 2px;
	transition: box-shadow 0.2s linear;
}

/* создание галочки + ее позичионирование + скрытие ее */
.form__check-descr::after {
	content: "";
	position: absolute;
	z-index: 2;
	top: 3px;
	left: 16px;
	width: 14px;
	height: 14px;
	background-image: url('../img/check.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	opacity: 0;
	transition: opacity .3s linear;
}

/* задание курсора при наведение на лейбл */
.form__check-descr:hover {
	cursor: pointer;
	color: white;
}

/* анимация наведениея на чекбокс при помощи тени */
.form__check-descr:hover::before {
	box-shadow: 1px 1px 3px #97EE3F;
}

/* появление галочки при активации чека */
.form__check:checked + .form__check-descr::after {
	opacity: 1;
}

/* Adaptive */

@media (max-width: 1769px) {

	.header__nav-item:not(:last-of-type) {
		margin-right: 70px;
	}
	

	.main {
		width: 95%;
	}

	.form__text {
		display: none;
	}

}

@media (max-width: 1729px) {

	.header__nav {
		flex: none;
	}


	.header__nav-item:not(:last-of-type) {
		margin-right: 65px;
	}
	

	.about-text {
		width: 100%;
	}

	.about-item {
		padding-right: 20px;
	}

	.how-work__nav-list {
		justify-content: center;
	}

	.how-work__article {
		align-items: stretch;
	}

	.how-work__article-banner {
		height: auto;
	}

	.footer {
		padding-left: 3.5%;
		padding-right: 3.5%;
	}
}

@media (max-width: 1500px) {
	
	.header__nav {
		flex: none;
		margin-left: 0;
		margin-right: 0;
	}

	.header__nav-item:not(:last-of-type) {
		margin-right: 50px;
	}
	
}

@media (max-width: 1024px) {


	/* header */
	.header {
		justify-content: space-between;
		margin-bottom: 40px;
		padding: 26px 50px 26px 50px;
	}

	.header__burger {
		display: block;
	}

	.header__logo {
		width: 150px;
		height: 48px;
	}

	.header__nav {
		display: none;
	}

	/* Main */
	.main {
		max-width: 924px;
		width: 90.23%;
		margin: 0 auto;
	}

	/* Hero */
	.hero {
		margin-bottom: 36px;
		padding: 160px 0 160px 75px;
	}
	
	.hero-heading {
		width: 90.69%;
		margin-bottom: 16px;
		font-size: 60px;
		line-height: 73px;
	}
	
	.hero-description {
		width: 77.74%;
		margin-bottom: 60px;
		font-size: 20px;
		line-height: 24px;
	}
	
	.hero-btn {
		padding: 25px 39px;
		font-size: 23px;
		line-height: 28px;
	}
	
	/* About */

	.about {
		margin-bottom: 64px;
	}

	.about-text {
		width: 100%;
		margin-bottom: 59px;
	}
	
	.about-banner, .about-description-rigth {
		flex: 0 0 100%;
		min-height: 640px;
		min-width: auto;
	}

	.about-banner {
		margin-bottom: 31px;
	}

	.about-banner-item {
		justify-content: space-between;
		padding: 50px 5.3% 50px 5.46%;
	}

	.about-item {
		padding: 65px 8.2% 65px 8.2%;
	}

	/* How-work */

	.how-work {
		margin-bottom: 80px;
	}

	.how-work__heading {
		margin-bottom: 49px;
	}
	
	.how-work__nav-list {
		column-gap: 86px;
		justify-content: left;
		margin-bottom: 51px;
	}

	.how-work__article {
		align-items: flex-end;
		column-gap: 5.41%;
	}


	.how-work__article-banner {
		flex: 0 0 47.29%;
		min-height: 689px;
	}

	.how-work__article-description-text:last-of-type {
		margin-bottom: 25px;
	}
	
	/* FAQ */

	.faq {
		margin-bottom: 82px;
	}

	.faq__list-item {
		padding: 30px 0;
	}

	.faq__list-item-heading {
		flex: 0 0 81.82%;
		font-size: 20px;
		line-height: 31.5px;
	}

	/* Footer */

	.footer {
		justify-content: space-between;
		column-gap: 0;
		padding: 49px 50px 50px 49px;
		
	}

	.footer__left {
		flex: auto;
		margin-right: 0;
	}

	.form {
		flex: none;
	}


	.form__btn {
		padding: 19px 38px;
	}

	.form__check-descr {
		padding-left: 34px;
	}

	.form__check-descr::before {
		left: 13px;
	}

	.form__check-descr::after {
		left: 13px;
	}


}

@media (max-width: 992px) {

	.main {
		width: 87%;
	}

	.how-work__article {
		align-items: stretch;
	}

	.footer {
		flex-direction: column-reverse;
		align-items: flex-start;
		row-gap: 50px;
	}

	.footer__nav {
		display: none;
	}
	
}

@media (max-width: 768px) {
	
	/* Header */
	.header {
		padding: 11px 52px 10px 50px;
	}

	/* Hero */
	.hero {
		padding: 160px 40px 160px 40px;
		border-radius: var(--borderRad24);
	}

	.hero-heading {
		width: 100%;
		font-size: 50px;
		line-height: 61px;
	}

	.hero-description {
		width: 100%;
		font-size: 18px;
		line-height: 22px;
	}

	/* About */

	.about {
		margin-bottom: 79px;
	}

	.about-text {
		margin-bottom: 54px;
	}

	.about-banner {
		min-height: 650px;
		border-radius: var(--borderRad24);
	}

	.about-banner-item {
		padding: 34px 5.99% 34px 5.99%;
		border-radius: var(--borderRad24);
	}

	.about-description-rigth {
		min-height: auto;
	}

	.about-banner-text {
		flex: 0 0 61.41%;
	}

	.about-item {
		column-gap: 2.4%;
		padding: 35px 46px 35px 40px;
	}
	
	.about-item-logo {
		width: 114px;
		height: 99px;
	}

/* How work */

	.how-work {
		margin-bottom: 49px;
	}

	.how-work__nav-list {
		justify-content: space-between;
	}

	.how-work__article {
		flex-direction: column-reverse;
	}

	.how-work__article-banner {
		flex: auto;
		min-height: 284px;
		margin-bottom: 38px;
		border-radius: var(--borderRad24);
	}

	.how-work__article-description-text {
		display: inline;
	}

	.how-work__btn-wrapper {
		margin-top: 25px;
	}

	/* FAQ */

	.faq {
		margin-bottom: 112px;
	}

	.faq__heading {
		margin-bottom: 31px;
	}

	.faq__list-item-heading {
		flex: 0 0 570px;
		line-height: 32px;
	}

	/* Footer */

	.footer {
		padding: 50px 50px 50px 49px;
	}
	
	.footer__left-logo {
		margin-bottom: 14px;
	}
}
