@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


/* Общие */
:root {
	--color-white: #fff;
	--color-orange: #FF9900;
	--color-lightOrang: #FFB84D;
	--color-darkOrange: #E1670E;
	--color-Black: #000;
	--color-lightLightGrey: #CACACA;
	--color-opacityGrey: rgba(0, 0, 0, 0.5);
	--color-Grey: #666666;
	--color-dark-Grey: #414141;
	--borderRad32: 32px;
	--borderRad24: 24px;
	--borderRad16: 16px;
	--borderRad8: 8px;
}

body {
	max-width: 1920px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

a {
	color: inherit;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

button {
	color: inherit;
}

.container {
	max-width: 1770px;
	margin: 0 auto;
}



.btn {
	display: inline-block;
	text-align: center;
	padding: 20px 38px;
	border-radius: var(--borderRad16);
	font-size: 20px;
	font-weight: 700;
	background-color: var(--color-orange);
	transition: background-color .3s ease;
}

.btn:hover {
	background-color: var(--color-lightOrang);
	border-color: var(--color-lightOrang);
}

.btn:focus {
	background-color: var(--color-lightOrang);
	border-color: var(--color-lightOrang);
}

.btn:active {
	background-color: var(--color-darkOrange);
	border-color: var(--color-darkOrange);
}

.section-heading {
	font-size: 48px;
	line-height: 59px;
}

.item-heading {
	font-weight: 700;
	font-size: 24px;
}

.nav-link {
	transition: color .3s ease, outline-color .3s ease, outline-offset .5s ease;
}

.nav-link:hover {
	color: var(--color-orange);
}

.nav-link:focus {
	outline: 2px solid var(--color-orange);
	outline-offset: 3px;
}

.nav-link:active {
	outline: none;
	color: var(--color-darkOrange);
}

/* header */

.header__container {
	display: flex;
	max-width: 100%;
	align-items: center;
	justify-content: space-between;
	column-gap: 14.69%;
	margin-bottom: 47px;
	padding: 14px 4% 14px 3.8%;
	border-radius: 0 0 var(--borderRad32) var(--borderRad32);
	background: var(--color-white);
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.burger {
	display: none;
}

.header__logo {
	width: 225px;
	height: 72px;
}

.nav {
	flex: 0 1 706px;
}

.header__nav {
	margin-left: auto;
}

.nav__menu-reset {
	display: none;
}

.nav__list {
	display: flex;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.nav__item:not(:last-of-type) {
	margin-right: auto;
}


.nav__link {
	transition: color 0.3s ease, padding .5s ease, border-color .1s ease, outline-color .1s ease, outline-offset .5s ease;
}

.nav__link:hover {
	padding-bottom: 7px;
	border-bottom: 2px solid var(--color-orange);
}

.nav__link:focus {
	outline: 2px solid var(--color-orange);
	outline-offset: 3px;
}

.nav__link:active {
	padding-bottom: 7px;
	border-bottom: 2px solid var(--color-darkOrange);
	outline: none;
	color: var(--color-darkOrange);
}

.header__search-icon rect {
	transition: fill .3s ease;
}

.header__search-icon path {
	transition: stroke .3s ease;
}

.header__search {
	transition: outline-color .5s ease, outline-offset .5s ease;
}

.header__search:hover .header__search-icon rect {
	fill: var(--color-orange);
}

.header__search:hover .header__search-icon path {
	stroke: var(--color-orange);
}

.header__search:focus {
	outline: 2px solid var(--color-orange);
	outline-offset: 2px;
}

.header__search:active .header__search-icon rect {
	fill: var(--color-orange);
}

.header__search:active .header__search-icon path {
	stroke: var(--color-orange);
}

.header__search:focus {
	outline: none;
}

/* Main */

.main__hero {
	margin-bottom: 50px;
}

/* Hero */

.banner {
	position: relative;
}

.banner__slider {
	padding: 100px 80px;
	color: var(--color-white);
}

.hero__heading {
	width: 51.99%;
	margin: 0;
	margin-bottom: 24px;
	font-weight: 800;
	font-size: 70px;
	line-height: 85px;
}

.hero__description {
	width: 49.09%;
	margin-bottom: 90px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.hero__btn {
	display: block;
	padding: 25px 39px;
	font-size: 23px;
	line-height: 28px;
}

.hero__heading, .hero__description, .hero__btn {
	position: relative;
	z-index: 2;
	/* pointer-events: none; */
}

.swiper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.swiper-slide {
	border-radius: var(--borderRad32);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide1 {
	background-image: url(../img/slide1.jpg);
}

.slide2 {
	background-image: url(../img/slide2.jpeg);
}

.slide3 {
	background-image: url(../img/slide3.jpeg);
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: var(--color-lightLightGrey);
}

.swiper-pagination-bullet-active {
	background-color: var(--color-white);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;

}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 28px;
}

/* About */

.main__about {
	margin-bottom: 100px;
}

.about__heading {
	margin-bottom: 20px;
}

.about__text {
	width: 69.77%;
	margin-bottom: 50px;
	line-height: 32px;
}

.about__content {
	display: flex;
	align-items: stretch;
	column-gap: 1.6%;
}

.about__column {
	flex: 0 0 49.15%;
	position: relative;
	min-height: 622px;
}

/* Left column */

.about__banner {
	min-height: 622px;
	border-radius: var(--borderRad32);
	background-image: url('../img/about-compres1200-800.jpg');
	background-size: cover;
	background-position: center;
}

.about__banner-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 50px 6% 50px 5.46%;
	border-radius: var(--borderRad32);
	color: var(--color-white);
	background: rgba(0, 0, 0, 0.5);
}

.about__banner-text {
	flex: 0 0 58.70%;
	font-weight: 700;
	line-height: 32px;
}
.about__banner-btn {
	padding: 17px 36px;
	border: 3px solid var(--color-orange);
	font-size: 16px;
	background-color: transparent;

}

/* Right column */

.about__item {
	display: flex;
	column-gap: 6%;
	align-items: center;
	padding: 65px 20px 65px 6.9%;
	border: 1px solid var(--color-lightLightGrey);
	border-radius: var(--borderRad32);
}

.about__item:not(:last-child) {
	margin-bottom: 30px;
}

.about__item-img {
	width: 190px;
	height: 165px;
}

.about__item-description {
	flex-basis: 452px;
}

.about__item-description-heading {
	margin-bottom: 8px;
	line-height: 29px;
}

.about__item-description-text {
	line-height: 32px;
}

/* How work */

.main__how-work {
	margin-bottom: 112px;
}

.how-work__heading {
	margin-bottom: 48px;
}

.how-work__nav {
	max-width: 458px;
}

.how-work__nav-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 47px;
	font-size: 18px;
	line-height: 22px;
}

.how-work__article {
	display: flex;
	align-items: flex-end;
	column-gap: 142px;
}

.how-work__article-description-heading {
	margin-bottom: 7px;
	line-height: 32px;
}

.how-work__article-description-text {
	line-height: 32px;
}

.how-work__article-description-text:last-of-type {
	margin-bottom: 17px;
}

.how-work__article-btn-more {
	margin-right: 27px;
	font-size: 16px;
	color: var(--color-white);
}

.how-work__article-btn-contract {
	padding: 20px 36px;
	border: 1px solid currentColor;
	font-size: 16px;
	background-color: transparent;
	transition: background-color .3s ease, color .3s ease;
}

.how-work__article-banner {
	flex: 0 0 49.15%;
	height: 460px;
	border-radius: var(--borderRad32);
	background-image: url('../img/how-work-origin1-compres1920.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.how-work__article-btn-contract:hover, .how-work__article-btn-contract:focus {
	border-color: var(--color-Grey);
	color: var(--color-white);
	background-color: var(--color-Grey);
}

.how-work__article-btn-contract:active {
	color: var(--color-white);
	background-color: var(--color-Black);
	border-color: var(--color-Black);
}

/* FAQ */

.main__faq {
	margin-bottom: 100px;
}

.faq__heading {
	margin-bottom: 32px;
}

.faq__list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: -1px;
	padding: 30px 2px 30px 0;
	border-bottom: 1px solid var(--color-lightLightGrey);
	border-top: 1px solid var(--color-lightLightGrey);
	transition: border-color .3s ease, color .3s ease;
}

.faq___list-item-icon {
	flex-shrink: 0;
}

.faq___list-item-icon path {
	transform-origin: 50%;
}

.faq__list-item:hover {
	position: relative;
	z-index: 1;
	border-top-color: var(--color-orange);
	border-bottom-color: var(--color-orange);
	color: var(--color-orange);
}

.faq___list-item-icon path, .faq___list-item-icon ellipse {
	transition: fill .5s ease, transform .5s ease;
}

.faq__list-item:hover .faq___list-item-icon ellipse {
	fill: var(--color-orange);
}

.faq__list-item:hover .faq___list-item-icon path {
	fill: var(--color-white);
}

.faq__list-item:focus {
	position: relative;
	z-index: 1;
	border-color: var(--color-orange);
	color: var(--color-orange);
}

.faq__list-item:focus .faq___list-item-icon ellipse {
	fill: var(--color-orange);
}

.faq__list-item:focus .faq___list-item-icon path {
	fill: var(--color-white);
}

.faq__list-item:active {
	color: var(--color-Black);
	border-color: var(--color-lightLightGrey);
}

.faq__list-item:active .faq___list-item-icon path {
	transform: rotate(45deg);
}

.faq__list-item:active .faq___list-item-icon ellipse {
	fill: var(--color-lightLightGrey);
}

/* Footer */

.footer__container {
	max-width: 100%;
}

.footer__content {
	display: flex;
	column-gap: 13.38%;
	padding: 50px 3.91% 50px 3.91%;
	color: var(--color-lightLightGrey);
	background-color: var(--color-Black);
}

/* Footer left */

.footer__left {
	flex: 0 0 252px;
	margin-right: auto;
}

.footer__logo {
	width: 224px;
	height: 72px;
	margin-bottom: 20px;
}

.footer__logo path:not(.logo_orange) {
	fill: var(--color-white);
}

.footer__nav {
	margin-bottom: 90px;
}

.footer__nav-list-item {
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
}

/* Socials */

.footer__socials-odnoklass-link {
	margin-right: 20px;
}

.footer__socials-odnoklass-logo, .footer__socials-vkontakte-logo {
	transition: outline-color .3s ease, outline-offset .5s ease;
}

.footer__socials-odnoklass-logo path, .footer__socials-vkontakte-logo path {
	transition: fill .3s ease;
}

.footer__socials-odnoklass-link:hover path, .footer__socials-vkontakte-link:hover path {
	fill: var(--color-orange);
}

.footer__socials-odnoklass-link:active path, .footer__socials-vkontakte-link:active path {
	fill: var(--color-darkOrange);
}

.footer__socials-odnoklass-link:active .footer__socials-odnoklass-logo, .footer__socials-vkontakte-link:active .footer__socials-vkontakte-logo {
	outline: none;
}

/* Form */

.form {
	flex: 0 0 570px;
}

.form__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.form__input-name, .form__input-email, .form__textarea {
	padding: 14px 24px;
	border-radius: var(--borderRad16);
	line-height: 32px;
	color: var(--color-white);
	background-color: var(--color-dark-Grey);
	transition: background-color .5s ease;
}

.form__input-name::placeholder, .form__input-email::placeholder, .form__textarea::placeholder {
	line-height: 32px;
	color: var(--color-lightLightGrey);
}

.form__textarea {
	height: 150px;
	resize: none;
}

.form__input-name:hover, .form__input-email:hover, .form__textarea:hover {
	background-color: #414141;
}

.form__input-name:focus, .form__input-email:focus, .form__textarea:focus {
	background-color: var(--color-Grey);
}

.form__input-name:active, .form__input-email:active, .form__textarea:active {
	background-color: var(--color-Grey);
}

/* Buttons */


.form__wrapper-btn {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.form__btn {
	padding: 19px 52px;
	font-size: 16px;
	color: var(--color-white);
}

/*Свой чекбокс  */

.form__checkbox-wrap {
	display: inline-block;
}

/* скрываем стандартный */

.form__check {
	appearance: none;
}

/* стилизация лейбла + паддинг слева для кастомного */

.form__check-descr {
	position: relative;
	padding-left: 37px;
	font-size: 16px;
	transition: color .3s linear;
}

/* создание квадратика + его позиционирование*/
.form__check-descr::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 3px;
	left: 18px;
	width: 14px;
	height: 14px;
	border: 1px solid var(--color-lightLightGrey);
	border-radius: 2px;
	transition: box-shadow 0.2s linear;
}

/* создание галочки + ее позичионирование + скрытие ее */
.form__check-descr::after {
	content: "";
	position: absolute;
	z-index: 2;
	top: 3px;
	left: 17px;
	width: 14px;
	height: 14px;
	background-image: url('../img/check.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	opacity: 0;
	transition: opacity .3s linear;
}

/* задание курсора при наведение на лейбл */
.form__check-descr:hover {
	cursor: pointer;
	color: white;
}

/* анимация наведениея на чекбокс при помощи тени */
.form__check-descr:hover::before {
	box-shadow: 1px 1px 3px #97EE3F;
}

/* появление галочки при активации чека */
.form__check:checked + .form__check-descr::after {
	opacity: 1;
}

.form__text {
	flex: 0 0 363px;
	padding-top: 87px;
	font-size: 16px;
	line-height: 32px;
}

/* Adaptive */

@media (max-width: 1769px) {

	.container {
		width: 95%;
	}

	.footer__container {
		width: 100%;
	}
	

	.form__text {
		display: none;
	}

}

@media (max-width: 1729px) {
	.how-work__article {
		align-items: stretch;
	}

	.how-work__article-banner {
		height: auto;
	}

}

@media (max-width: 1024px) {

	/* Общие */

	.container {
		max-width: 924px;
		width: 90.23%;
		margin: 0 auto;
	}


	/* header */
	.header__container {
		width: 100%;
		max-width: none;
		margin: 0;
		margin-bottom: 37px;
		padding: 26px 50px 26px 50px;
	}

	.burger {
		display: block;
		cursor: pointer;
	}

	.header__burger-icon {
		width: 30px;
		height: 23px;
	}

	.header__logo {
		width: 150px;
		height: 48px;
	}

	.header__nav {
		position: absolute;
		z-index: 5;
		top: 0;
		left: -420px;
		width: 420px;
		height: 100vh;
		padding: 22px 0px 0px 50px;
		border-bottom-left-radius: var(--borderRad24);
		border-bottom-right-radius: var(--borderRad24);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		background-color: var(--color-white);
	}

	.is-active {
		transition: transform .3s ease;
		transform: translateX(101%);
		}

	.nav__menu-reset {
		display: block;
		margin-bottom: 106px;
		cursor: pointer;
	}
	.nav__list {
		flex-direction: column;
		row-gap: 60px;

	}

	/* Main */
	/* Hero */

	.main__hero {
		margin-bottom: 35px;
	}

	.hero__container {
		margin-bottom: 36px;
	}

	.banner__slider {
		padding: 160px 0 160px 75px;
	}
	
	.hero__heading {
		width: 90.69%;
		margin-bottom: 16px;
		font-size: 60px;
		line-height: 73px;
	}
	
	.hero__description {
		width: 77.74%;
		margin-bottom: 60px;
		font-size: 20px;
		line-height: 24px;
	}
	
	.hero__btn {
		padding: 25px 39px;
		font-size: 23px;
		line-height: 28px;
	}
	
	/* About */

	.main__about {
		margin-bottom: 64px;
	}

	.about__text {
		width: 100%;
		margin-bottom: 59px;
	}

	.about__content {
		flex-direction: column;
		row-gap: 31px;
	}
	
	.about__column {
		flex: 0 0 100%;
	}

	.about__banner {
		min-height: 640px;
	}

	.about__banner-item {
		padding: 50px 5.2% 50px 5.46%;
	}

	.about__item {
		column-gap: 6.6%;
		padding: 65px 8.2% 65px 8.2%;
	}

	/* How-work */

	.how-work {
		margin-bottom: 80px;
	}

	.how-work__heading {
		margin-bottom: 49px;
	}
	
	.how-work__nav-list {
		column-gap: 85px;
		justify-content: left;
		margin-bottom: 51px;
	}

	.how-work__article {
		align-items: flex-end;
		column-gap: 5.41%;
	}


	.how-work__article-banner {
		flex: 0 0 47.29%;
		min-height: 689px;
	}

	.how-work__article-description-text:last-of-type {
		margin-bottom: 25px;
	}
	
	/* FAQ */

	.faq {
		margin-bottom: 82px;
	}

	.faq__list-item {
		padding: 30px 0;
	}

	.faq__list-item-heading {
		flex: 0 0 81.82%;
		font-size: 20px;
		line-height: 31.5px;
	}

	/* Footer */

	.footer__container {
		width: 100%;
		max-width: none;
	}

	.footer__content {
		justify-content: space-between;
		column-gap: 0;
		padding: 50px 5.27% 50px 4.79%;
	}

	.footer__left {
		flex: 27.22%;
		margin-right: 0;
	}

	.form {
		flex: none;
	}

	.form__btn {
		padding: 19px 38px;
	}

	.form__check-descr {
		padding-left: 32px;
	}

	.form__check-descr::before {
		left: 13px;
	}

	.form__check-descr::after {
		left: 13px;
	}


}

@media (max-width: 884px) {


	.how-work__article {
		align-items: stretch;
	}

	.footer__content {
		flex-direction: column-reverse;
		align-items: flex-start;
		row-gap: 50px;
	}

	.footer__nav {
		display: none;
	}
	
}

@media (max-width: 768px) {

	.container {
		width: 86.98%;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* Header */
	.header__container {
		width: 100%;
		padding: 11px 52px 8px 50px;
		margin-bottom: 39px;
	}

	/* Hero */
	.banner__slider {
		padding: 160px 40px 160px 40px;
		border-radius: var(--borderRad24);
	}

	.hero__heading {
		width: 100%;
		font-size: 50px;
		line-height: 61px;
	}

	.hero__description {
		width: 100%;
		font-size: 18px;
		line-height: 22px;
	}

	/* About */

	.main__about {
		margin-bottom: 79px;
	}

	.about__text {
		margin-bottom: 54px;
	}

	.about__banner {
		min-height: 650px;
		border-radius: var(--borderRad24);
	}

	.about__column {
		min-height: auto;
	}


	.about__banner-item {
		padding: 34px 5.99% 34px 5.99%;
		border-radius: var(--borderRad24);
	}


	.about__banner-text {
		flex: 0 0 61.41%;
	}

	.about__item {
		column-gap: 2.4%;
		padding: 35px 46px 35px 40px;
	}
	
	.about__item-img {
		width: 114px;
		height: 99px;
	}

/* How work */

	.main__how-work {
		margin-bottom: 49px;
	}

	.how-work__nav {
		max-width: 100%;
	}

	.how-work__nav-list {
		column-gap: 10px;
		justify-content: space-between;
	}

	.how-work__article {
		flex-direction: column-reverse;
	}

	.how-work__article-banner {
		flex: auto;
		min-height: 284px;
		margin-bottom: 38px;
		border-radius: var(--borderRad24);
	}

	.how-work__article-description-text {
		display: inline;
	}

	.how-work__btn-wrapper {
		margin-top: 25px;
	}

	/* FAQ */

	.main__faq {
		margin-bottom: 113px;
	}

	.faq__heading {
		margin-bottom: 31px;
	}

	.faq__list-item-heading {
		flex: 0 1 570px;
		line-height: 32px;
	}

	/* Footer */

	.footer__container {
		width: 100%;
	}

	.footer__content {
		padding: 50px 50px 50px 49px;
	}
	
	.footer__logo {
		margin-bottom: 14px;
	}

	.form {
		width: 80.87%;
	}

	.form__wrapper-btn {
		row-gap: 10px;
		flex-wrap: wrap;
	}

	.form__check-descr {
		padding-left: 34px;
	}

	.form__check-descr::before {
		left: 16px;
	}

	.form__check-descr::after {
		left: 16px;
	}

}

@media (max-width: 600px) {


	body {
		font-size: 14px;
	}

	.section-heading {
		font-size: 24px;
		line-height: 29px;
	}

	.item-heading {
		font-size: 18px;
		line-height: 22px;
	}

	.btn {
		display: inline;
		border-radius: var(--borderRad8);
		font-size: 12px;
	}

	.container {
		width: 90.625%;
	}

		/* Header */
	.header__container {
		width: 100%;
		margin-bottom: 30px;
		padding: 15px 17px;
		border-radius: var(--borderRad16);
	}

	.header__logo {
		width: 110px;
		height: 35px;
	}

		/* Hero */
	.main__hero {
		margin-bottom: 60px;
	}

	.banner__slider {
		padding: 60px 21px 59px 22px;
		border-radius: var(--borderRad16);
	}

	.hero__heading {
		margin-bottom: 7px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}

	.hero__description {
		margin-bottom: 32px;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
	}

	.hero__btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 14px 28px;
		line-height: 15px;
		
	}

		/* About */

	.main__about {
		margin-bottom: 60px;
	}

	.about__text {
		margin-bottom: 14px;
		line-height: 2em;
	}


	.about__banner {
		display: flex;
		flex-direction: row;
		min-height: 200px;
		margin-bottom: 8px;
		border-radius: var(--borderRad16);
	}

	.about__banner-item {
		flex-direction: column;
		align-items: flex-start;
		position: static;
		padding: 0;
		color: var(--color-Black);
		background-color: transparent;
	}

	.about__banner-text {
		margin-bottom: 12px;
		font-weight: 400;
		line-height: 28px;
	}

	.about__banner-btn {
		padding: 9px 41px;
		color: var(--color-orange);
	}

	.about__item {
		flex-direction: column;
		row-gap: 12px;
		align-items: flex-start;
		padding: 0;
		border: none;
	}

	.about__item-img {
		width: 64px;
		height: 50px;
	}

	.about__item-description {
		flex-basis: auto;
	}

	.about__item-description-heading {
		margin-bottom: 5px;
		font-weight: 500;
	}

	.about__item-description-text {
		line-height: 28px;
	}

		/* How-work */

	.main__how-work {
		margin-bottom: 59px;
	}

	.how-work__heading {
		margin-bottom: 21px;
	}

	.how-work__nav-list {
		margin-bottom: 15px;
		font-size: inherit;
		line-height: 17px;
	}

	.how-work__article-description-heading {
		margin-bottom: 13px;
	}

	.how-work__article-description-text {
		line-height: 28px;
	}

	.how-work__article-banner {
		margin-bottom: 21px;
		min-height: 160px;
		border-radius: var(--borderRad16);
	}

	.how-work__article-btn-more {
		margin-right: 7px;
		padding: 12px 44px;
	}

	.how-work__article-btn-contract {
		padding: 12px 30px;
	}

		/* FAQ */

		.main__faq {
			margin-bottom: 61px;
		}

		.faq__heading {
			margin-bottom: 16px;
		}

		.faq__list-item-heading {
			font-size: 14px;
			line-height: 24px;
		}

		.faq___list-item-icon {
			width: 30px;
			height: 30px;
		}

		/* Footer */

		.footer__container {
			width: 100%;
		}

		.footer__content {
			row-gap: 16px;
			padding: 33px 14px;
		}

		.form {
			width: 100%;
			padding-bottom: 24px;
			border-bottom: 1px solid #414141;
		}

		.form__wrapper {
			row-gap: 20px;
		}
		.form__input-name {
			padding: 14px 21px;
			margin-bottom: 5px;
		}

		.form__input-email {
			padding: 14px 21px;
			margin-bottom: 5px;
		}

		.form__textarea {
			padding: 14px 21px;
		}

		.form__wrapper-btn {
			row-gap: 20px;
			justify-content: center;
			margin-top: 5px;
		}

		.form__btn {
			padding: 13px 28px;
		}

		.form__check-descr {
			padding-left: 14px;
		}

		.form__check-descr::before {
			left: -5px;
		}


		.form__check-descr::after {
			left: -5px;
		}

		.footer__left {
			margin: 0 auto;
		}
		.footer__logo {
			width: 131px;
			height: 42px;
		}

		.footer__socials-odnoklass-logo, .footer__socials-vkontakte-logo {
			width: 40px;
			height: 40px;
		}
}
